h2, h3 {
    text-align: center;
}

.guidelines {
    display: flex;
    flex-wrap: wrap;
}

.guideline {
    flex: auto;
    text-decoration: none;
    color: black;
    padding: 5vh 2vw;
    background-color: orange;
    margin: 5vh 2vw;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

a.guideline:hover {
    background-color: white;
}