.linkWrapper {
    text-decoration: none;
    color: black;
}

.linkWrapper > div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: aqua;
}

.title {
    font-size: 1.5rem;
}

.date {
    font-size: 0.9rem;
}