.wrapper {
    color: #4a4a4a;
    background-color: lavender;
}

@media (min-width: 601px) {
    .wrapper {
        max-width: 600px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 30fr 1fr;
    }
}

.header-background {
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main-header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main-logo {
  max-width: 76px;
  margin: 0 auto;
}

.main-heading {
  color: black;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

.blog-heading {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 1em;
  text-align: center;
}

.content {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 1em;
}

.align-center {
  text-align: center;
}

.location iframe {
  width: 70%;
}

.departments {
  display: grid;
  grid-gap: 1em;
}

@media (min-width: 801px) {
  .departments {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.department {
  padding: 20px;
  border-radius: 10px;
}

.department a {
  text-decoration: none;
  color: white;
}

.department .name {
  font-weight: bold;
  font-size: 1.3em;
  display: block;
}

.projects {
  display: grid;
  grid-gap: 1em;
  margin-bottom: 2em;
}

@media (min-width: 801px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

.project {
  padding: 20px;
  border-radius: 10px;
}

.project a {
  text-decoration: none;
  color: white;
}

.project .name {
  font-weight: bold;
  font-size: 1.3em;
  display: block;
}

.members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member-container {
    width: 150px;
    margin: 20px;
}

.member-image {
    max-width: 150px;
    margin: 0 auto;
}

.member-image img {
    border-radius: 100px;
}

.post-link {
  background-color: white;
  padding: 1rem 3rem 0.5rem 3rem;
  border-radius: 10px;
  margin: 1rem;
  color: black;
}

a.no-decoration, no-decoration {
  text-decoration: none;
}